.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0%;
  z-index: 100;

}

.header_logo {
  width: 60px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 10px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;

}

.header_searchIcon {
  color: white;
  background-color: orange;
  height: 22px !important;
  padding: 5px;
  font-size: 25px !important;
  border-radius: 0px 5px 5px 0px;
}

.header_searchInput {
  width: 100%;
  height: 12px;
  border: none;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
}

.header_optionsLineOne {
  color: white;
  font-size: 14px;
}

.header_optionsLineTwo {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}